body {
	background-color: #363536;
    background-image: url(main.jpg);
    color: #FFFFFF;
    position: relative;
    padding-top: 80px;
}

h2 {
	font-family:inherit;
    font-size: 30px;
}

.fa {
	padding-right: 15px;
    color: #FFFFFF;
}

#jumbotron, #skills, #projects, #education {
	box-shadow: 6px 6px 2px 0 #000000;
    
}

#traits {
	font-size: 25px;
	font-weight:normal;
	padding-top: 50px;
    margin-left: 0px;
}



#traits p {
	font-size: 25px;
	font-weight:normal;
    margin-left: 0px;
	margin-bottom: 15px;
}

#nav {
    border-radius: 0; 
    padding-right: 15px;
}

#navbar-left {
	padding-left: 15px;
}

ul  {
	list-style-type: none;
}

#jumbotron{
    background-color: rgba(211, 4, 102, .26);
    border-radius: 0;
    margin-bottom:80px;
}

#skills {
	
    background-color: rgba(0, 8, 164, .24);
    padding:20px 0px 0px 30px;
    margin-top:80px; 
}

#skills p span {
	color:white;
	font-weight:normal;
	font-size:77%;
}

#list {
    font-family: "Arial Black","Arial Bold",Gadget,sans-serif; 
    font-size: 25px;
    margin:10px 0 60px 0;
    padding:40px 0 40px 0;
}

#list p {
	margin:14px 0px 14px 0px;
	padding-left:23px;
}

#list p:last {
	margin-bottom:0px;
}

#projects {
    background-color: rgba(45, 255, 25, .23);
	padding:20px 0px 0px 30px;
    margin-top:80px;
}

#education {
    background-color: rgba(195, 120, 13, .31);
	padding:20px 0px 0px 30px;
    margin-bottom: 80px;
}

#education p span {
	color:white;
	font-weight:normal;
	font-size:77%;
}

#gallery {
    padding:20px 0;
    margin:50px 0;
}

#self img {
			border: 6px solid rgba(0, 0, 0, .6);
			border-radius: 12px;
    }

#gallery img {
	padding:15px 0;
    margin-bottom:25px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
#traits {
	display:inline;
}

}

@media screen and (min-width: 0px) and (max-width: 767px) {
#skills p, #education p,#list p {
	text-align:center;
	padding-left:0px;
}

#skills,#projects,#education{
	padding-left:0px;
}

#projects h2 {
	text-align:center;
}

#education h2 {
	text-align:center;
}

#skills h2 {
	text-align:center;
}

#jumbotron h1 {
	font-size: 30px;
	padding-top: 5px;
    
}

}
